.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(79deg, #7439db, #c66fbc 48%, #f7944d);
  margin-top: 40%;
}

.auth-form-container, .login-form, .signup-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50vw;
  margin: 0 auto;
  margin-top: 8%;
}

.auth-form-container{
  padding: 2rem;
  border: none;
  border-radius: 10px;
  background-image: linear-gradient(79deg, #7439db, #c66fbc 48%, #f7944d);
  margin-bottom: 2px;

}

label{
  text-align: left;
  padding: 0.25rem 0;
}

input{
  margin: 0.5rem 0;
  padding: 0.25rem 0;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}
.homeHead{
  color: blue;
  text-align: center;

}
.body{
  background-color: rgb(48, 44, 51);
  

}
.home-page {
  background-image: url('https://images.unsplash.com/photo-1521027872898-ba76d86f95bb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80'), url('https://images.unsplash.com/photo-1653571084018-2b1d2fb88f73?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80'), url('https://images.unsplash.com/photo-1628499636754-3162d34ca39c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
  background-repeat: no-repeat;
  background-size: auto 110vh;
  background-position: left, center, right;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  min-height: 95vh;
}
button{
  background-color:rgb(227, 244, 227);
}
.home-page h5:nth-child(1) {
  text-align: left;
}

.home-page h5:nth-child(2) {
  text-align: center;
}

.home-page h5:nth-child(3) {
  text-align: right;
}
.text-container {
  background-color: rgba(0, 0, 0, .5);
  padding: 20px;
  width: 100%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
a {
  color:white; 
  background-color:  rgb(108, 141, 108);
  text-decoration: none; 
  font-weight: bold; 
  padding: 10px 20px; 
  border-radius: 10px; 
  transition: all 0.3s; 
}

a:hover {
  background-color:#85bb65;
  color: #FFF;
  text-decoration: none;
}


.link-btn {
  background: none;
  color: white;
  text-decoration: none;
  margin-top: 5px;
}
@media only screen and (min-width: 768px) {
  .home-page {
    background-size: auto 110vh;
  }
}
@media only screen and (max-width: 767px) {
  .home-page {
    background-size: auto 90vh;
  }
}