.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(79deg, #7439db, #c66fbc 48%, #f7944d);
}

.auth-form-container, .login-form, .signup-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50vw;
  margin: 0 auto;
  
}

.auth-form-container{
  padding: 2rem;
  border: none;
  border-radius: 10px;
  background-image: linear-gradient(79deg, #7439db, #c66fbc 48%, #f7944d);
  margin-bottom: 2px;

}

label{
  text-align: left;
  padding: 0.25rem 0;
}

input{
  margin: 0.5rem 0;
  padding: 0.25rem 0;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.link-btn {
  background: none;
  color: blue;
  text-decoration: underline;
  margin-top: 5px;
}