.home-page{
  background-color: powderblue;
  /* padding: 0px;
  margin: 0px; */
  background:url(../public/image.jpg);
  height:100vh;
  width:100vw;
  background-repeat: no-repeat;
  background-size:cover;
}
.home-page h1{
   /* margin: auto;
  position: relative; 
  left: 0;
  top: 0; */
  color: purple; 
  margin-left: 40%;
  }
.home-page h2{
  margin-left: 35%;
}
.home-page div{
  width: 80%;



}
.home-page div button{
  margin-left: 50%;
  padding: 10px;
  border-radius: 7px;
  background-color: rgb(74, 46, 140);
  color: white; 

}
#loginbutton{
  margin-left: 53%;
  margin-bottom: 10px;
  
}
.nav{
  justify-content: space-between;
  background-color: gray;
}
.navbar{
margin: 1px solid black;
margin-bottom: 1px solid black;
background-color: blue;
padding: 1px;
color: black;

}
